---
const currentYear = new Date().getFullYear();
---

<footer class="mt-2 px-2 py-6">
  <div class="flex items-center space-x-2 pt-6 text-xs text-gray-500 border-t border-gray-100">
    <p>Wandering Qingdom &copy; {currentYear}</p>
  </div>
</footer> 